<p class="tags">
  <h2>Tags</h2>
  <%- @tags.each do |tag| -%>
    <%= link_to(tag, tag_path(tag)) %>
  <%- end -%>
</p>

<h2>latest knowledge</h2>
<%= "<p class=\"flash\">#{flash[:notice]}</p>" unless flash[:notice].nil? %>
<%= render :partial => 'list', :locals => {:knowledge_entries => @knowledge_entries} %>