<h2>statistics for <%= @app_name %></h2>
<ul class="stats">
  <li><%= image_tag("/stats/images/hits_#{@app_name}_12.png") %></li>
  <li><%= image_tag("/stats/images/execution_times_#{@app_name}_12.png") %></li>
</ul>